@import "fonts";
@import "variables";

body, html {
    background-color: $alt-color;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("@/assets/img/bgs/boceto2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 10%;
    pointer-events: none;
    z-index: 1;

    @media (min-width: 800px) {
        background-size: contain;
    }
}

#app, #app * {
    z-index: 10;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .view {
        flex-grow: 1;
    }
}

* {
    box-sizing: border-box;
    color: $secondary-color;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}