@import "fonts";
@import "variables";

body, html {
    background-color: $alt-color;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("@/assets/img/boceto2.png");
    background-size: cover;
    overflow: hidden;
    opacity: 10%;
    z-index: 1;
}

body * {
    z-index: 2;
}

* {
    box-sizing: border-box;
    color: $secondary-color;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}